# Ignore node_modules (reinstall inside container)
node_modules

# Ignore Git files
.git
.gitignore

# Ignore local env/config
.env
*.log

# Ignore Docker files not needed in image
Dockerfile
.dockerignore
